
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 40px;
	text-align: center;
	color: var(--text-color);
}
:root {
	/* --bg-color: linear-gradient(135deg, #451952, #662549);
	--text-color: #F39F5A;
	--main-panel-color: #AE445A;
	--input-color: #fff; */
	--bg-color: #6A2C70;
	--text-color: #F39F5A;
	--main-panel-color: #B83B5E;
	--input-color: #FFF7F1;
}

body{
	width: 100%;
	min-height: 100vh;
	background: var(--bg-color);
}
.nav-link {
	padding: .5em;
}
#f, #t {
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1em;
	width: 15em;
	min-height: 60vh;
	background: var(--main-panel-color);
	padding: 10px;
	border-radius: 15px;
}
.add {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin-top: 1em;
}
input {
	background-color: var(--input-color);
	border-radius: 20px;
	width: 100%;
	text-align: start;
	padding-left: .5em;
	padding-right: 3.8em;
	border: none;
	outline: none;
}
#addBtn {
	align-self: flex-end;
	color: var(--input-color);
	background: var(--text-color);
	width: 9%;
	max-width: 4em;
	position: absolute;
	border-radius: 20px;
	border: none;
	outline: none;
}

ul {
	padding: 28px 0;
}

ul li {
	text-align: start;
	width: 88%;
	list-style: none;
	font-size: 1em;
	user-select: text;
	position: relative;
	margin-left: 1em;
	padding-top: .1em;
	cursor: pointer;
}
ul li::selection {
	color: var(--input-color);
  background-color: var(--text-color);
} 
ul li::before {
	content: "";
	position: absolute;
	height: .7em;
	width: .7em;
	border-radius: 50%;
	background-image: url(../images/unchecked.png);
	background-size: cover;
	background-position: center;
	top: .4em;
	left: -1em;
}

ul li.checked {
	color: #555;
	text-decoration: line-through;
}
ul li.checked::before {
	background-image: url(../images/checked.png);
}
ul li span {
	position: absolute;
	user-select: none;
	color: var(--input-color);
	top: .2em;
	right: 0;
	left: 13em;
}
ul li span:hover {
	cursor: pointer;
	color: var(--text-color);
}
#listContainer {
	word-break: break-word;
}


@media (max-width: 1190px) {
	#addBtn {
		width: 23%;
	}
	input {
		padding-right: 4.1em;
	}
}

@media (max-width: 700px) {
	input {
		padding-right: 4.2em;
	}
	* {
		font-size: 20px;
	}
	#addBtn {
		width: 23%;
	}
	ul li span {
		left: 12.6em;
	}
}
